[submodule "util/qol_utils"]
	path = util/qol_utils
	url = git@github.com:janTOffermann/QolUtils.git
[submodule "external/delphes"]
	path = external/delphes
	url = git@github.com:janTOffermann/delphes.git
        ignore = untracked
[submodule "external/hepmc/HepMC3"]
	path = external/hepmc/HepMC3
	url = ssh://git@gitlab.cern.ch:7999/hepmc/HepMC3.git
