# Remove DS Store files (macOS directory management)
*DS_Store
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.so.*
*.dylib
*.lib

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

#IDE
.vscode/
.vscode

# Ignore build folders for some libraries.
/util/root/vectorcalcs/build
/delphes
/fastjet

# Ignore ROOT files, images, etc.
*.root
*.h5
*.png
*.hepmc
*.tar.bz2
*.rootmap
*.pcm
